@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: url("./fonts/satoshi/Satoshi-Regular.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Satoshi Medium";
    font-weight: 500;
    src: url("./fonts/satoshi/Satoshi-Medium.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Satoshi Bold";
    font-weight: 700;
    src: url("./fonts/satoshi/Satoshi-Bold.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Integral Bold";
    font-weight: 700;
    src: url("./fonts/integral-cf/IntegralCF-Bold.otf");
    font-display: swap;
  }

  .overflow-x-scroll::-webkit-scrollbar {
    display: none;
    /* This hides the scrollbar in WebKit browsers (Chrome, Safari, etc.) */
  }

  html {
    font-family: "Satoshi", system-ui, sans-serif;
  }

  .search-input-group,
  .search-input-group input {
    background-color: #F0F0F0;
  }

  .rating-stars span {
    pointer-events: none;
  }

  .custom-next-arrow, .custom-prev-arrow {
    position: absolute;
    top: -75px;
  }

  .custom-next-arrow {
    right: 20px;
  }

  .custom-prev-arrow {
    right: 60px;
  }
}

@layer utilities {
  .font-medium {
    font-family: "Satoshi Medium";
  }
}

.range-slider .range-slider__thumb,
.range-slider .range-slider__range {
  background: #000000 !important;
}

.range-slider__thumb::after {
  content: "$" attr(aria-valuetext);
  position: absolute;
  top: 25px;
  font-size: 14px;
  left: -5px
}